# ____REMOVE THIS LINE AFTER RENAMING sample.env to .env ____
DATABASE_URL=
SESSION_ID=Prince~Qop3nYZb#IiW3FeYkStmT35rT3WiYiPUxD8gZ5geuqU72Y9vuZ4k
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
OWNERS=94775704025;💫Disindu Damsandu💫
antidelete=true
BOT_NAME=Prince
DL_MSG=Here is your video
ANTI_LINK=true
ANTI_CALL=true
VIEWONCE=true
REPLY_STATUS=true
STATUS_MESSAGE=🩵ʏᴏᴜʀ sᴛᴀᴛᴜs sᴇᴇɴ sᴜᴄᴄᴇssғᴜʟʟʏ😍 😎ʙʏ *ᴘʀɪɴᴄᴇ ᴍᴅ* ᴡʜᴀᴛsᴀᴘᴘ ʙᴏᴛ🩵
AUTOREAD=false
